<style>
    .loader-container {
        background-color: rgba(43, 52, 103, 0.5);
        z-index: 1100;
    }
</style>

@* z-index: 1100 because of bootstrap stack order *@
<div class="loader-container d-none position-fixed top-0 start-0 w-100 min-vh-100 d-flex align-items-center
            justify-content-center">
    <div class="loader" style="background-color: #BC7C7C"></div>
</div>
