<nav class="navbar navbar-expand-lg bg-light sticky-top top_navbar" data-bs-theme="light" style="height:60px; z-index: 1099">
    <div class="container-fluid">
        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="navbar-brand" data-bs-toggle="tooltip" data-bs-title="SCEcommerce">
            <img src="~/images/SCEcommerce Logo.png" alt="SCEcommerce" width="40" height="40">
            <span class="">SCEcommerce</span>
        </a>

        <div class="d-none d-lg-block">
            <partial name="_LoginPartialLgScreen" />
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start text-bg-primary w-100" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel"><img src="~/images/SCEcommerce Logo.png" alt="SCEcommerce" width="40" height="40"> SCEcommerce</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="sidebar-link">
                            <i class="fa-solid fa-link"></i> <span>Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="sidebar-link">
                            <i class="fa-solid fa-link"></i> <span>Category</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Product" asp-action="Index" class="sidebar-link">
                            <i class="fa-solid fa-link"></i> <span>Product</span>
                        </a>
                    </li>
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </div>
</nav>
