@model ProductDTO


<form id="CategoryCreateForm" class="modalForm" method="post" asp-controller="Category" asp-action="Create" onsubmit="return save(this)">

    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="validationError" />
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>
        <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select select2Dropdown">
            <option value=""></option>
        </select>
        <span asp-validation-for="CategoryId" class="validationError" />
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="validationError" />
    </div>
    <div class="mb-3">
        <label asp-for="DiscountPercentage" class="form-label"></label>
        <input asp-for="DiscountPercentage" class="form-control" />
        <span asp-validation-for="DiscountPercentage" class="validationError" />
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Description" class="validationError" />
    </div>
    <button type="submit" class="btn btn-primary w-100">Save</button>
</form>
