@model ProductVM



<form enctype="multipart/form-data" id="ProductCreateForm" class="modalForm" method="post"
      asp-controller="Product" asp-action="Create" onsubmit="return save(this)">

    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="validationError" />
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>
        <select asp-for="CategoryId" asp-items="@Model.CategoryList" class="form-select select2Dropdown">
            <option value=""></option>
        </select>
        <span asp-validation-for="CategoryId" class="validationError" />
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="validationError" />
    </div>
    <div class="mb-3">
        <label asp-for="DiscountPercentage" class="form-label"></label>
        <input asp-for="DiscountPercentage" class="form-control" />
        <span asp-validation-for="DiscountPercentage" class="validationError" />
    </div>
    <div class="mb-3">
        <label asp-for="ImageUrl" class="form-label"></label>
        <input type="file" class="form-control" />
        <span asp-validation-for="ImageUrl" class="validationError" />
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>

        @* Quill Editor *@
        <div id="editor" style="height: 150px;"></div>

         @* Hidden field to bind to your model  *@
        <input type="hidden" asp-for="Description" id="Description" />

        <span asp-validation-for="Description" class="validationError"></span>
    </div>
    <button type="submit" class="btn btn-primary w-100">Save</button>
</form>

<script>

    $(document).ready(function() {

        let quill = new Quill('#editor', {
            theme: 'snow'
        });

        $('#ProductCreateForm').on('submit', function () {
            let html = quill.root.innerHTML;
            $('#Description').val(html);
        });

    });

</script>



