@model ProductVM

@{
    ViewData["Title"] = "Edit Product";
}

<div class="card shadow">
    <div class="card-header">
        <div class="row">
            <div class="col-6 d-flex align-items-center">Edit Product @Model.Title</div>
            <div class="col-6 d-flex justify-content-end">
                <a asp-controller="Product" asp-action="Index" class="btn btn-danger">
                    <i class="fa-solid fa-xmark"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form enctype="multipart/form-data" id="ProductCreateForm" method="post" asp-controller="Product" asp-action="Edit" onsubmit="return saveForm('Edit', this)">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.UniqueProductId)

            <div class="mb-3">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="validationError" />
            </div>
            <div class="mb-3">
                <label asp-for="CategoryId" class="form-label"></label>
                <select asp-for="CategoryId" asp-items="@Model.CategoryList" class="form-select select2Dropdown">
                    <option value=""></option>
                </select>
                <span asp-validation-for="CategoryId" class="validationError" />
            </div>
            <div class="mb-3">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="validationError" />
            </div>
            <div class="mb-3">
                <label asp-for="DiscountPercentage" class="form-label"></label>
                <input asp-for="DiscountPercentage" class="form-control" />
                <span asp-validation-for="DiscountPercentage" class="validationError" />
            </div>
            <div class="mb-3">
                <label asp-for="FormFile" class="form-label"></label>
                <input asp-for="FormFile" type="file" class="form-control" />
                <span asp-validation-for="FormFile" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <textarea asp-for="Description" class="form-control summernote"></textarea>
                <span asp-validation-for="Description" class="validationError"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100">Save</button>
        </form>
    </div>
</div>


