@model List<Category>

@{
    var count = 1;
}

<div class="container">
    <div class="row py-3">
        <div class="col-6">
            <h2 class="my-auto">Category</h2>
        </div>
        <div class="col-6 text-end my-auto">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary" onclick="CreateModal(event, this, 'Create')">
                <i class="fa-solid fa-circle-plus"></i>
                Create New Category
            </a>
        </div>
    </div>
    <div>
        @if (Model.Any())
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">SL#</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model)
                    {
                        <tr>
                            <td>@count</td>
                            <td>@category.Name</td>
                        </tr>

                        count++;
                    }
                </tbody>
            </table>
        }
        else
        {
            <div>No records found</div>
        }

    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}