@model List<Category>

@{
    var count = 1;
}

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">SL#</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@count</td>
                    <td>@category.Name</td>
                </tr>

                count++;
            }
        </tbody>
    </table>
}
else
{
    <div>No records found</div>
}